<h4>Get Timetable Data Automatically</h4>
<b><u>Caution: This feature is almost certainly broken in many serious ways. If you are using this to make real
    decisions please make sure you check the data that this tool generates before using it.</u></b>

<div>
<b>How to use this tool:</b>
    <ol>
        <li>Go to <a href="https://spprd.newcastle.edu.au/scientia/sws2017prd/Default.aspx">UON's timetabling search tool</a></li>
        <li>Select <em>ONE</em> course to view and click <em>View Timetable</em></li>
        <li>In the timetable <em>grid view</em> (not the visual schedule view) right click and click <em>View Page Source</em></li>
        <li>Select all (<em>CTRL + a</em>) and copy (<em>CTRL + c</em>)</li>
        <li>Paste into the text field below and submit.</li>
        <li>Be sure to check that the data is correct before using the timetable.</li>
    </ol>
</div>

<div class="container">
<form>
    <textarea id="textbox" ng-model="raw_text"></textarea>
    <label for="textbox">Search Result Source</label>
    <button type="submit" class="waves-effect waves-light btn" ng-click="create_course_from_html()">Submit</button>
</form>
</div>