<h4>Manual Timetable</h4>
<div>
    Add timetable data manually:
    <ol>
        <li>Insert a name for a course (eg. MATH1000) and create the course. The course will appear in the list below.
        </li>
        <li>Add a name and a duration for a class in the course (eg. a 1 hour tutorial) and create the class. The class
            will appear in the list under the course it belongs to.
        </li>
        <li>Choose the day and start time of an option in that course and add it to the list of options. (i.e. many
            classes give multiple timeslots from which a student must choose one to attend)
        </li>
    </ol>
</div>
<div class="row">
    <input type="checkbox" ng-model="weekend_enabled[0]" id="weekend_enabled"/>
    <label for="weekend_enabled">Show/Hide Weekend</label>
</div>

<div class="">
    <div class="row">
        <form>
            <div class="input-field col s4">
                <input type="text" ng-model="course_name" id="new_course_name"/>
                <label for="new_course_name">New Course Name: </label>
            </div>
            <div class="col s2">
                <button type="submit" name="action" ng-click="addCourse()" class="waves-effect waves-light btn">Add
                    Course
                </button>
            </div>
        </form>
    </div>


    <div class="collection">
        <!-- For each course in the system, output a list of classes within that course, along with a form to add a new
        class to the course -->
        <div ng-repeat="course in courses" class="collection-item">
            <div class="row">
                <div class="col s6" ng-if="!course.editing">
                    <b>{{course.name}}</b>
                </div>
                <div class="col s6" ng-if="course.editing">
                    <input ng-model="course.name">
                </div>
                <i class="material-icons" ng-click="toggle_edit_course(course, courses)">mode_edit</i>
                <i class="material-icons" ng-if="!course.collapsed" ng-click="course.collapsed = true">trending_up</i>
                <i class="material-icons" ng-if="course.collapsed" ng-click="course.collapsed = false">trending_down</i>
            </div>
            <div ng-if="!course.collapsed">
                <div>
                    <!-- For each class in the course, output a list of options for that class, along with a form to add a new
                    option to the class -->
                    <div ng-repeat="class in course.classes">
                        <div class="row">
                            <div class="col s4 offset-s1" ng-if="!class.editing">
                                <u> - {{class.name}} ({{class.dur}} hrs) </u>
                            </div>
                            <div ng-if="class.editing">
                                <input ng-model="class.name" class="col s2 offset-s1">
                                <input ng-model="class.dur" type="number" class="col s2">
                            </div>
                            <i class="material-icons" ng-click="toggle_edit_class(class, course)">mode_edit</i>
                        </div>
                        <div ng-repeat="option in class.options" class="row">
                            <div class="col s4 offset-s1" ng-if="!option.editing">
                                {{option.day}}: {{option.time}}
                            </div>

                            <div ng-if="option.editing">
                                <div class="input-field col s2 offset-s1">
                                    <select ng-model="option.day" class="browser-default">
                                        <option ng-repeat="day in day_range" value="{{day}}">{{day}}</option>
                                    </select>
                                </div>
                                <div class="input-field col s2">
                                    <select ng-model="option.time" class="browser-default">
                                        <option ng-repeat="time in time_range" value="{{time}}">{{time}}</option>
                                    </select>
                                </div>
                            </div>
                            <i class="material-icons" ng-click="toggle_edit_opt(option, class)">mode_edit</i>
                        </div>
                        <div class="row">
                            <form>
                                <div class="input-field col s2 offset-s1">
                                    <select ng-model="class.new_day" class="browser-default">
                                        <option value="" disabled selected>Day</option>
                                        <option ng-repeat="day in day_range" value="{{day}}">{{day}}</option>
                                    </select>
                                </div>
                                <div class="input-field col s2">
                                    <select ng-model="class.new_time" class="browser-default">
                                        <option value="" disabled selected>Start Time</option>
                                        <option ng-repeat="time in time_range" value="{{time}}">{{time}}</option>
                                    </select>
                                </div>
                                <button type="submit" ng-click="add_option_to_class(class)"
                                        class="waves-effect waves-light btn">Add Option
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <form>
                        <div class="input-field col s3 offset-s1">
                            <input ng-model="course.new_text" placeholder="New Class in {{course.name}}"/>
                        </div>
                        <div class="input-field col s3">
                            <input type="number" ng-model="course.new_dur" placeholder="Class length (hrs)"/>
                        </div>
                        <div class="input-field col s2">
                            <button type="submit" ng-click="add_class_to_course(course)"
                                    class="waves-effect waves-light btn">
                                Add Class
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>