<h4>Add Timetable Data</h4>

<div class="">
    <div class="row">
        <form>
            <div class="input-field col s4">
                <input type="text" ng-model="course_name" id="new_course_name"/>
                <label for="new_course_name">Course Name: </label>
            </div>
            <div class="col s2">
                <button type="submit" name="action" ng-click="addCourse()" class="waves-effect waves-light btn">Add
                    Course
                </button>
            </div>
        </form>
    </div>


    <div>
        <!-- For each course in the system, output a list of classes within that course, along with a form to add a new
        class to the course -->
        <div ng-repeat="course in courses">
            <div class="row">

                <div class="col s6">
                    <b>{{course.name}}</b>
                </div>
            </div>
            <div>
                <!-- For each class in the course, output a list of options for that class, along with a form to add a new
                option to the class -->
                <div ng-repeat="class in course.classes">
                    <div class="row">
                        <div class="col s6 offset-s1">
                            <u> - {{class.name}} ({{class.dur}} hrs) </u>
                        </div>
                    </div>
                    <div ng-repeat="option in class.options" class="row">
                        <div class="col s6 offset-s1">
                            {{option.day}}: {{option.time}}
                        </div>
                    </div>
                    <div class="row">
                        <form>
                            <div class="input-field col s3 offset-s1">
                                <select ng-model="class.new_day" class="browser-default">
                                    <option value="" disabled selected>Day</option>
                                    <option ng-repeat="day in day_range" value="{{day}}">{{day}}</option>
                                </select>
                            </div>
                            <div class="input-field col s3">
                                <select ng-model="class.new_time" class="browser-default">
                                    <option value="" disabled selected>Start Time</option>
                                    <option ng-repeat="time in time_range" value="{{time}}">{{time}}</option>
                                </select>
                            </div>
                            <button type="submit" ng-click="add_option_to_class(class)"
                                    class="waves-effect waves-light btn">Add Option
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row">
                <form>
                    <div class="input-field col s3">
                        <input ng-model="course.new_text" placeholder="New Class in {{course.name}}"/>
                    </div>
                    <div class="input-field col s3">
                        <input type="number" ng-model="course.new_dur" placeholder="Class length (hrs)"/>
                    </div>
                    <div class="input-field col s2">
                        <button type="submit" ng-click="add_class_to_course(course)"
                                class="waves-effect waves-light btn">
                            Add Class
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>