<p>View 2 should be the timetable page. A big old timetable with the data provided from the last page
    click a choice to select it and deselect(grey) the other choices for that class. Checkbox to show only selected
    classes
    (preview mode for your completed schedule).</p>

<!-- Calendar -->
<table class="striped">
    <thead>
    <tr>
        <th>
            <!--Empty header column for the left side time scale-->
        </th>
        <th ng-repeat="day in day_range()">
            {{day}}
        </th>
    </tr>
    </thead>
    <tr ng-repeat="i in time_range()">
        <th>
            {{i}}
        </th>
        <td ng-repeat="day in day_range()">
            <div ng-repeat="bundle in bundles | filter: {opt: {day: day, time: i}}">
                <div ng-if="bundle.opt.selected" class="teal lighten-2" ng-click="make_active(bundle)">
                    {{day}} {{i}}
                </div>

                <div ng-if="!bundle.opt.selected" class="teal lighten-5" ng-click="make_active(bundle)">
                    {{day}} {{i}}
                </div>
        </td>
    </tr>
</table>